<div class="w-full md:flex-1">
    <h1 class="text-[#343C6A] font-bold">Recent Transaction</h1>
    <div class="w-full min-h-[16rem] bg-white rounded-2xl mt-3 px-4 py-8">
        @let state = (recentTransactions$ | async);

        @if (!state || state.status === 'loading'){
        <div class="flex justify-center items-center h-full">
            <p class="text-gray-500 text-lg">Loading...</p>
        </div>
        }
        @else if (state.status === 'error') {
        <div class="text-red-500 flex justify-center items-center h-full">
            {{ state.error }}
        </div>
        }
        @else if (state.status === 'success' && state.data.length === 0) {
        <div class="text-gray-400 flex justify-center items-center h-full">
            No recent transactions
        </div>
        }
        @else if (state.status === 'success') {
        <div class="flex flex-col gap-8">
            @for (transaction of state.data; track transaction.transactionId) {
            <div class="flex items-center w-full">
                <div class="flex items-center gap-3 flex-1 min-w-0">
                    <img [src]="transaction.icon" class="w-8 h-8 rounded-full shrink-0" />
                    <div class="flex flex-col min-w-0">
                        <span class="text-sm font-semibold truncate">{{transaction.label}}</span>
                        <span class="text-xs text-gray-500">{{transaction.date}}</span>
                    </div>
                </div>
                <div class="text-sm font-semibold text-right whitespace-nowrap ml-2">
                    {{transaction.amount}}
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>