<div class="w-full md:flex-[2]">
    <h1 class="text-[#343C6A] font-bold">Weekly Activity</h1>
    <div class="w-full h-[20rem] bg-white rounded-2xl mt-3 p-2">
        <ng-container *ngIf="weeklySpendChart$ | async as state">

            <!-- Loading -->
            <div *ngIf="state.status === 'loading'" class="flex justify-center items-center h-full">
                Loading...
            </div>

            <!-- Error -->
            <div *ngIf="state.status === 'error'" class="text-red-500 flex justify-center items-center h-full">
                {{ state.error }}
            </div>

            <!-- Success -->
            <apx-chart *ngIf="state.status === 'success'" [series]="state.data.series" [chart]="state.data.chart"
                [dataLabels]="state.data.dataLabels" [plotOptions]="state.data.plotOptions" [yaxis]="state.data.yaxis"
                [legend]="state.data.legend" [fill]="state.data.fill" [stroke]="state.data.stroke"
                [tooltip]="state.data.tooltip" [xaxis]="state.data.xaxis">
            </apx-chart>

        </ng-container>
    </div>
</div>