<div class="w-full md:flex-1">
    <h1 class="text-[#343C6A] font-bold">Expense Statistics</h1>
    <div class="w-full h-[300px] md:h-[320px] bg-white rounded-2xl mt-3 p-2 overflow-hidden">
        <ng-container *ngIf="expenseStaticsChart$ | async as state">
            <!-- Loading -->
            <div *ngIf="state.status === 'loading'" class="flex justify-center items-center h-full">
                Loading...
            </div>

            <!-- Error -->
            <div *ngIf="state.status === 'error'" class="text-red-500 flex justify-center items-center h-full">
                {{ state.error }}
            </div>

            <!-- Success -->
             <apx-chart class="w-full h-full block" *ngIf="state.status === 'success'" [series]="state.data.series" [chart]="state.data.chart"
                [labels]="state.data.labels" [colors]="state.data.colors" [plotOptions]="state.data.plotOptions"
                [dataLabels]="state.data.dataLabels" [legend]="state.data.legend" [responsive]="state.data.responsive"
                [stroke]="state.data.stroke"> 
            </apx-chart>
        </ng-container>
    </div>
</div>